flows.json
[{"id":"e180ca71.cd73e8","type":"tab","label":"StudioBot","disabled":false,"info":""},{"id":"8d43b28f.b272d","type":"tab","label":"SunStatus","disabled":false,"info":""},{"id":"96b37ca6.5b13","type":"tab","label":"MQTT","disabled":false,"info":""},{"id":"6ed60fe3.fe51f","type":"tab","label":"Habitica Webhook","disabled":false,"info":""},{"id":"59e16da0.4e31c4","type":"tab","label":"Create Task","disabled":false,"info":""},{"id":"769ff219.73c80c","type":"server","z":"","name":"Home Assistant","url":"http://192.168.86.133:8123","pass":"r3dW0mb@tStud10"},{"id":"7018ab8c.11a9e4","type":"darksky-credentials","z":"","key_identifier":"Kevin Sonney"},{"id":"e0b59eba.416c5","type":"tls-config","z":"","name":"cloudmqtt","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":true},{"id":"adb9078b.ad0278","type":"mqtt-broker","z":"","broker":"m13.cloudmqtt.com","port":"26303","tls":"e0b59eba.416c5","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"8560037c.e329f","type":"tls-config","z":"","name":"Habitica","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":true},{"id":"6161ac6e.a92cb4","type":"Slack Bot Out","z":"e180ca71.cd73e8","name":"slackbot","apiToken":"xoxb-253183703813-Q8l7TZXgA2qc4bibLGpkH4K8","channel":"#testing","x":880,"y":80,"wires":[]},{"id":"a56490c4.1a9c5","type":"Slack Bot In","z":"e180ca71.cd73e8","name":"StudioBot","apiToken":"xoxb-253183703813-Q8l7TZXgA2qc4bibLGpkH4K8","channel":"#testing","x":80,"y":40,"wires":[["ddcaf812.f995e8"]]},{"id":"15255d8c.6fbd22","type":"template","z":"8d43b28f.b272d","name":"Sun Status Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"It is now {{payload}} at Red Wombat Studio","output":"str","x":500,"y":40,"wires":[["e5a30b8d.9c6e58"]]},{"id":"4d053eb4.d84de","type":"template","z":"e180ca71.cd73e8","name":"BotHelp","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Known Bot Commands:\n!help - This message\n!weather - get the weather at RWS\n","output":"str","x":340,"y":80,"wires":[["6161ac6e.a92cb4"]]},{"id":"ddcaf812.f995e8","type":"switch","z":"e180ca71.cd73e8","name":"BotCommands","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"!help","vt":"str"},{"t":"eq","v":"!weather","vt":"str"},{"t":"eq","v":"!blinkred","vt":"str"},{"t":"eq","v":"!blinkgreen","vt":"str"},{"t":"eq","v":"!blinkblue","vt":"str"},{"t":"eq","v":"!blinkoff","vt":"str"},{"t":"cont","v":"!newtask","vt":"str"}],"checkall":"false","outputs":7,"x":120,"y":200,"wires":[["4d053eb4.d84de"],["bb9c78bf.dc6e98"],["25ed2dd5.41e682"],["b637ada3.a1a24"],["d6601688.02a6d8"],["c189e177.cf6d7"],["b6cfbc5d.a7fe"]]},{"id":"fe12c607.df12e8","type":"template","z":"e180ca71.cd73e8","name":"WeatherResponse","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Current Weather at RWS : {{payload.weather}}\n","output":"str","x":610,"y":140,"wires":[["6161ac6e.a92cb4"]]},{"id":"e8795dbd.a00a4","type":"darksky","z":"e180ca71.cd73e8","darksky":"7018ab8c.11a9e4","name":"Weather","lon":"-79.2056359","lat":"35.6956257","date":"","time":"","mode":"message","lang":"en","units":"us","x":500,"y":100,"wires":[["fe12c607.df12e8"]]},{"id":"bb9c78bf.dc6e98","type":"function","z":"e180ca71.cd73e8","name":"currentdate","func":"msg.time = new Date();\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":120,"wires":[["e8795dbd.a00a4"]]},{"id":"6d681823.cebd28","type":"sun events","z":"8d43b28f.b272d","testmode":false,"verbose":false,"topic":"Sun Events","name":"RWS Sun Status","x":100,"y":40,"wires":[["537ab5c8.e748fc"]]},{"id":"cd10e6be.dade88","type":"feedparse","z":"e180ca71.cd73e8","name":"AcuRite Weather Information","url":"http://192.168.86.133/weewx/RSS/weewx_rss.xml","interval":"5","x":140,"y":380,"wires":[["350eec43.cad0a4"]]},{"id":"350eec43.cad0a4","type":"dead-man-switch","z":"e180ca71.cd73e8","name":"WeatherData","delay":"30","delayUnit":"minutes","x":370,"y":380,"wires":[["8360a0f4.4e3ce"]]},{"id":"4f2c7d6b.1bb9f4","type":"ping","z":"e180ca71.cd73e8","name":"DarkCanvas Ping","host":"corax.darkcanvas.com","timer":"20","x":140,"y":500,"wires":[[]]},{"id":"8360a0f4.4e3ce","type":"template","z":"e180ca71.cd73e8","name":"Weather dead","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"Weather Station is offline, needs reconnecting.","output":"str","x":540,"y":380,"wires":[["6161ac6e.a92cb4","83f42480.7e4878"]]},{"id":"98cc2cd1.4a3b9","type":"blink1","z":"e180ca71.cd73e8","serial":"200047F1","fade":"500","name":"","x":570,"y":220,"wires":[]},{"id":"25ed2dd5.41e682","type":"template","z":"e180ca71.cd73e8","name":"blinkred","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"#ff0000","output":"str","x":340,"y":160,"wires":[["98cc2cd1.4a3b9"]]},{"id":"b637ada3.a1a24","type":"template","z":"e180ca71.cd73e8","name":"blinkgreen","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"#00ff00","output":"str","x":350,"y":200,"wires":[["98cc2cd1.4a3b9"]]},{"id":"c189e177.cf6d7","type":"template","z":"e180ca71.cd73e8","name":"blinkoff","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"black","output":"str","x":340,"y":280,"wires":[["98cc2cd1.4a3b9"]]},{"id":"b51e196e.24ff58","type":"api-call-service","z":"8d43b28f.b272d","name":"The Fish","server":"769ff219.73c80c","service_domain":"switch","service":"toggle","data":"{ \"entity_id\": \"switch.the_fish\" }","x":740,"y":120,"wires":[]},{"id":"537ab5c8.e748fc","type":"switch","z":"8d43b28f.b272d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"nauticalDawn","vt":"str"},{"t":"eq","v":"dawn","vt":"str"},{"t":"eq","v":"sunrise","vt":"str"},{"t":"eq","v":"sunriseEnd","vt":"str"},{"t":"eq","v":"goldenHourEnd","vt":"str"},{"t":"eq","v":"solarNoon","vt":"str"},{"t":"eq","v":"goldenHour","vt":"str"},{"t":"eq","v":"sunsetStart","vt":"str"},{"t":"eq","v":"sunset","vt":"str"},{"t":"eq","v":"dusk","vt":"str"},{"t":"eq","v":"nauticalDusk","vt":"str"},{"t":"eq","v":"night","vt":"str"},{"t":"eq","v":"nadir","vt":"str"},{"t":"eq","v":"nightEnd","vt":"str"}],"checkall":"true","outputs":14,"x":270,"y":120,"wires":[[],[],["15255d8c.6fbd22"],[],[],[],[],[],["15255d8c.6fbd22"],["b51e196e.24ff58"],[],[],[],["b51e196e.24ff58"]]},{"id":"f62863a1.8eb4d","type":"blink1","z":"8d43b28f.b272d","serial":"","fade":"500","name":"","x":530,"y":340,"wires":[]},{"id":"9303bb2e.96f5d8","type":"mqtt in","z":"96b37ca6.5b13","name":"WeatherData","topic":"WeatherData/outTemp_F","qos":"2","broker":"adb9078b.ad0278","x":110,"y":60,"wires":[["c2dc02e7.768cf"]]},{"id":"a663fdb5.6dd3","type":"link in","z":"e180ca71.cd73e8","name":"BotLinkIn","links":["9da8bb95.4b8a78","e5a30b8d.9c6e58","b53a1edf.48f5d","ee00553.aff9ba8"],"x":695,"y":40,"wires":[["6161ac6e.a92cb4"]]},{"id":"e5a30b8d.9c6e58","type":"link out","z":"8d43b28f.b272d","name":"SunlinkOut","links":["a663fdb5.6dd3"],"x":695,"y":40,"wires":[]},{"id":"9da8bb95.4b8a78","type":"link out","z":"96b37ca6.5b13","name":"MQTTOut","links":["a663fdb5.6dd3"],"x":715,"y":60,"wires":[]},{"id":"947dbd5.61a484","type":"rbe","z":"96b37ca6.5b13","name":"","func":"rbe","gap":"","start":"","inout":"out","x":450,"y":60,"wires":[["cd340d3e.14bd4"]]},{"id":"cd340d3e.14bd4","type":"template","z":"96b37ca6.5b13","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"The temperature in the RWS Garden is now {{payload}} !","output":"str","x":590,"y":60,"wires":[["9da8bb95.4b8a78"]]},{"id":"7f9ea512.6c2cec","type":"http in","z":"6ed60fe3.fe51f","name":"WebhookIn","url":"/webhook","method":"post","upload":true,"swaggerDoc":"","x":100,"y":40,"wires":[["79095fa0.308df","b6a0a51c.bbdf48"]]},{"id":"79095fa0.308df","type":"http response","z":"6ed60fe3.fe51f","name":"WebHookOut","statusCode":"","headers":{},"x":320,"y":20,"wires":[]},{"id":"cc92852f.d0ff48","type":"debug","z":"6ed60fe3.fe51f","name":"WebHook Debug","active":false,"console":"false","complete":"true","x":850,"y":260,"wires":[]},{"id":"328b87ec.d22b38","type":"http request","z":"6ed60fe3.fe51f","name":"GetUserName","method":"GET","ret":"obj","url":"https://habitica.com/api/v3/user","tls":"8560037c.e329f","x":460,"y":60,"wires":[["96330a59.bb0ea8"]]},{"id":"b6a0a51c.bbdf48","type":"change","z":"6ed60fe3.fe51f","name":"Setup API","rules":[{"t":"set","p":"headers.x-api-user","pt":"msg","to":"4406436b-b20d-4bde-b4c7-af2fed26f90e","tot":"str"},{"t":"set","p":"headers.x-api-key","pt":"msg","to":"735c4ff1-9d31-4925-adb4-fe5cc15029d7","tot":"str"},{"t":"move","p":"req.body.task.userId","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":60,"wires":[["328b87ec.d22b38"]]},{"id":"96330a59.bb0ea8","type":"template","z":"6ed60fe3.fe51f","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.data.profile.name}} Just Completed the Task {{req.body.task.text}}","output":"str","x":610,"y":60,"wires":[["b172cb6c.d0a778"]]},{"id":"b53a1edf.48f5d","type":"link out","z":"6ed60fe3.fe51f","name":"","links":["a663fdb5.6dd3"],"x":935,"y":60,"wires":[]},{"id":"b172cb6c.d0a778","type":"change","z":"6ed60fe3.fe51f","name":"ScrubData","rules":[{"t":"delete","p":"req","pt":"msg"},{"t":"delete","p":"res","pt":"msg"},{"t":"delete","p":"headers","pt":"msg"},{"t":"delete","p":"responseCookies","pt":"msg"},{"t":"delete","p":"statusCode","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":60,"wires":[["cc92852f.d0ff48","b53a1edf.48f5d"]]},{"id":"ec96bbe6.754148","type":"link in","z":"59e16da0.4e31c4","name":"CreateTaskIn","links":["83f42480.7e4878"],"x":55,"y":20,"wires":[["6fed7c25.182f14"]]},{"id":"83f42480.7e4878","type":"link out","z":"e180ca71.cd73e8","name":"NewTask","links":["ec96bbe6.754148"],"x":855,"y":280,"wires":[]},{"id":"6fed7c25.182f14","type":"change","z":"59e16da0.4e31c4","name":"Setup API","rules":[{"t":"set","p":"headers.x-api-user","pt":"msg","to":"4406436b-b20d-4bde-b4c7-af2fed26f90e","tot":"str"},{"t":"set","p":"headers.x-api-key","pt":"msg","to":"735c4ff1-9d31-4925-adb4-fe5cc15029d7","tot":"str"},{"t":"move","p":"payload","pt":"msg","to":"payload.text","tot":"msg"},{"t":"set","p":"payload.type","pt":"msg","to":"todo","tot":"str"},{"t":"set","p":"payload.priority","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":20,"wires":[["510a29e.f6308d8"]]},{"id":"510a29e.f6308d8","type":"http request","z":"59e16da0.4e31c4","name":"NewTask","method":"POST","ret":"obj","url":"https://habitica.com/api/v3/tasks/user","tls":"8560037c.e329f","x":300,"y":20,"wires":[["19efe5b8.364c5a"]]},{"id":"19efe5b8.364c5a","type":"switch","z":"59e16da0.4e31c4","name":"","property":"payload.success","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":430,"y":20,"wires":[["68c6f0a4.b24de"],["91da3e95.a4ddd"]]},{"id":"68c6f0a4.b24de","type":"template","z":"59e16da0.4e31c4","name":"Success!","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Task {{payload.data.text}} has been created!","output":"str","x":580,"y":20,"wires":[["ffe13027.00514"]]},{"id":"91da3e95.a4ddd","type":"template","z":"59e16da0.4e31c4","name":"Failed!","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Task creation failed. The error is \"{{payload.error}} : {{payload.message}}\"","output":"str","x":570,"y":60,"wires":[["ffe13027.00514"]]},{"id":"ffe13027.00514","type":"change","z":"59e16da0.4e31c4","name":"ScrubData","rules":[{"t":"delete","p":"req","pt":"msg"},{"t":"delete","p":"res","pt":"msg"},{"t":"delete","p":"headers","pt":"msg"},{"t":"delete","p":"responseCookies","pt":"msg"},{"t":"delete","p":"statusCode","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":40,"wires":[["ee00553.aff9ba8"]]},{"id":"ee00553.aff9ba8","type":"link out","z":"59e16da0.4e31c4","name":"","links":["a663fdb5.6dd3"],"x":875,"y":40,"wires":[]},{"id":"b6cfbc5d.a7fe","type":"function","z":"e180ca71.cd73e8","name":"StripBotCommand","func":"var newMsg = msg;\nnewMsg.payload = msg.payload.replace(\"!newtask \",\"\");\nreturn newMsg;","outputs":1,"noerr":0,"x":370,"y":320,"wires":[["83f42480.7e4878"]]},{"id":"c2dc02e7.768cf","type":"function","z":"96b37ca6.5b13","name":"","func":"var newMsg = msg;\nif (msg.payload > 95 || msg.payload < 40) {\n  if (msg.Payload > 95) {\n     newMsg.paylod = \"WARNING: Temperature is over 95F\";\n  } else {\n     newMsg.payload = \"WARNING: Temperature is below 40F\"\n  }\n} else {\n    newMsg.payload = \"Temperature is within safe range (40-95F)\"\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":290,"y":60,"wires":[["947dbd5.61a484","e9723322.7ec16"]]},{"id":"e9723322.7ec16","type":"debug","z":"96b37ca6.5b13","name":"","active":true,"console":"false","complete":"true","x":630,"y":140,"wires":[]},{"id":"d6601688.02a6d8","type":"template","z":"e180ca71.cd73e8","name":"blinkblue","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"#0000ff","output":"str","x":340,"y":240,"wires":[["98cc2cd1.4a3b9"]]}]